{
    "static_cache": true,
    "port": 443,
    "temp_path": "/tmp/pritunl_%r",
    "log_path": "/var/log/pritunl.log",
    "www_path": "/usr/share/pritunl/www",
    "bind_addr": "0.0.0.0",
    "mongodb_uri": "mongodb://localhost:27017/pritunl",
    "local_address_interface": "auto"
}