[Unit]
Description=My test service
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/home/adm2/polybar-scripts/mail
ExecStart=/usr/bin/python3 /home/adm2/polybar-scripts/mail/mail.py
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
